@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
.lmj-shopping-list {
	width: 100%;
}

.lmj-plant-list {
	list-style-type: none;
	padding: 32px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.lmj-plant-list {
	display: flex;
	flex-wrap: wrap;
	gap: 24px;
	list-style: none;
	padding: 0;
	margin: 0;
  }

.lmj-shopping-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  padding: 0 2rem;

}

.lmj-shopping-title {
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  margin-left:8vh;
  font-family: 'Poppins', sans-serif;
}

.lmj-bou {
  color: #222;
}

.lmj-tique {
  color: #31b572;
  margin-left: 2px;
  font-size: 3.5rem;
}

@media (max-width: 768px) {
  .lmj-plant-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .lmj-shopping-header {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
}

@media (max-width: 480px) {
  .lmj-plant-list {
    grid-template-columns: 1fr;
  }
  .lmj-shopping-header {
    padding: 0 1rem;
  }
  .lmj-shopping-title {
    font-size: 2rem;
  }
}